h2    { font-family: "Arial"; color: #20B2AA; margin-left:16px} 
h3    { font-family: "Arial"; color: #20B2AA; font-size: 16px; margin-left:16px;} 
p { font-family: "Arial"; font-size: 14px;}

/* site banner and navigational menu */

#container {width:1000px; height:40px; margin-top:0px; margin-left:16px; border-bottom: 2px solid #eee;} 
#banner {width: 30%; height: 100%; float: left; color: #20B2AA; font-family: "Arial"; font-size: 36px; }
#menu {width: 70%; height: 40%; float: left; margin-top:20px; font-size: 14px; font-family: "Arial";}
       
ul.linklist {list-style-type: none; margin: 0; padding: 0;}
li.linklist {display: inline; margin-right: 7px;}
li.linklist a {color: #20B2AA;}
li.linklist a:link {text-decoration: none;}
li.linklist a:hover {color: #808080;}

/* footer elements */

#footer {width: 1000px; margin-bottom: 1000px; margin-left:16px; text-align: left; color: gray; font-size: 12px;}
#footerlink {color: #20B2AA;}

/* input header and messages elements */

#inputwrapper {width: 500px; height: 50px;}
#inputheader {width: 22%; height: 50px; float: left;}
div.messages {width: 78%; height: 50px; float: left;}
#message1 { font-family: "Arial"; font-size: 12px; float: left; margin-top: 28px;}
#message2 { font-family: "Arial"; font-size: 12px; float: left; margin-top: 28px;}

*:focus {outline: none;}

/* form inputs model page elements */

label {float:left; width:120px; margin-left:16px; margin-top:1px;}
input[type="text"] {float:left; font-size: 13px; margin-left:10px; text-align: center; border: 1px solid #e6e6e6;}
button {margin-left:25px; width: 75px; height: 40px;}
input[type=submit] {margin-left:16px; width: 75px; height: 40px;}

input[type=submit], button {color: #20B2AA; font-size: 14px; text-align: center; border: 1px solid #20B2AA; border-radius: 3px;
                    background-color: white; margin-top: 20px; float: left;}
                    
input[type=submit]:hover, button:hover {background-color: #d4f7f6; cursor: pointer; cursor: hand; }                  
                                              
div {display: block}
#wrapper {width: 1000px; height: 520px;} 
#boxA {width:25%; height: 50%; float:left;}
#boxB {width:25%; height: 50%; float:left;}
#boxC {width:50%; height: 50%; float:left;}
#graph {width: 343px; height: 300px; margin-top: 10px;}  

table {display: inline-block; vertical-align: top; max-width: 100%;  
       overflow-x: auto; white-space: nowrap; border-collapse: collapse;
       border-spacing: 0; margin-left: 16px;} 
       
th {font-family: "Arial"; color: #20B2AA; font-size: 16px; text-align: left;}

th, td {padding: 6px 12px; border: 1px solid #d9d7ce;}

td {font-family: "Arial"; font-size: 14px; text-align: center;}

/* tooltips model page elements */

.ui-tooltip, .arrow:after {
    background: #20B2AA;
    border: 1px solid gray;
    position: absolute; /* needed so tooltips don't run into each other */
  }
  
.ui-tooltip {
    padding: 10px 10px;
    color: white;
    border-radius: 20px;
    width: 189px;
    font: 12px "Arial", Sans-Serif;
    box-shadow: 0 0 3px gray;
  }
  
.ui-tooltip-content::after {
    top: 18px;
    left: -10px;
    border-color: transparent #666;
    border-width: 10px 10px 10px 0;
}

.arrow {
   width: 25px;
   height: 25px;
   overflow: hidden;
   position: absolute;
   top: 37%; /* Change vertical position */
   margin-left: -9px; /* Change horizontal position */
   bottom: -30px;
   left: -16px;
  }
  
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: 0px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.divtiptop {width: 175px; height: 21px; border-bottom: 1px solid white;}

.tipheader { 
  font: bold 12px "Arial", Sans-Serif;
  /* width: 75%; */
  display:inline-block;
  float: left;
  color: #99CCFF;
}

.descript {font: 12px "Arial", Sans-Serif; margin-top: 5px; }

.tipimg {height: 194px; width: 301px; }

.tiplabel {font-style: italic; /* width: 25%; */ display:inline-block; float: right;}

.divtipbottom {width: 189px; height: 16px; margin-top: 10px;}

.tipsrc {
  font-style: italic; 
  /* width:75%; */
  float: left;
}

#srclink {color: white;}

.tipdefault {
  font-style: italic;
  /* width:25%; */
  float: right;
}

/* overview page elements */
#structwrapper {width: 1000px; height: 450px; margin-left:16px; margin-bottom: 20px;}
#structure {width: 60%; float:left;}
#description {width: 40%; float:left; font-family: "Arial"; font-size: 16px;}

/* image */
.slides {margin-left: 32px; display: none;}

#slide1 {display: block;}

/* captions */
.captions {font-family: "Arial"; font-size: 16px; color: black;}

#caption1 {color: #20B2AA;} 

/* slideshow dots */

#dot_wrapper {margin-left: 227px; margin-top: 15px;}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-left: 8px;
}

#dot1 {background-color:#20B2AA;}

#linkmodel {color: #20B2AA;}

/* about page elements */

.abouttxt {width: 750px; font-family: "Arial"; font-size: 16 px; margin-left:16px; margin-bottom: 20px;}
ul.aboutlist {padding: 0; margin: 16px;  }





